# ==========================================
# Application
# ==========================================
NODE_ENV=development
APP_NAME=Authentication API
PORT=3000

# ==========================================
# Database
# ==========================================
MONGO_URI=mongodb://localhost:27017/auth

# ==========================================
# JWT - Access Token
# ==========================================
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m

# ==========================================
# JWT - Refresh Token
# ==========================================
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
